
.caixa{
    display: grid;
    height: 720px;
    width: auto;
    grid-template-areas: "1 2 3"
                         "4 5 6"
                         "7 8 9";
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: blue;
}
div{
    background-color: aqua;
    text-align: center;
    padding: 10px;
    font-size:40px;
}

.n8{
    padding-top: 500px;
    background-color: white;
    grid grid-template-area: 1 / 2 / 5 / 6;
}

